.profile-popup-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.profile-popup{
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 350px;
  height: 400px;
  z-index: 1001;
  overflow-y: auto;
}

.profile{
  text-align: center;
  color: gray;
}

.profile-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 20px;
  margin-top: 20px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

.profile-username{
  font-weight: bold;
  font-size: 20px;
  color: gray;
}

.profile-useremail {
  color: gray;
}

.link {
  display: inline-block;
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  background-color: rgba(232, 232, 232, 0.76);
  width: 100%;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 10px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: rgba(208, 208, 208, 0.76);
}

.logout-button {
  display: block;
  background: #58a8fe; 
  color: white; 
  border: none; 
  padding: 10px; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px; 
  width: 100%; 
  margin-top: 10px;
}

.logout-button:hover {
  background: #89c2ff; 
}